absl-py==2.1.0
adafruit-io==2.7.2
asgiref==3.7.1
astunparse==1.6.3
blinker==1.6.2
certifi==2024.2.2
cffi==1.15.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==3.2.24
django-cors-headers==4.0.0
django-filter==23.2
django-heroku==0.3.1
djangorestframework==3.15.1
Flask==2.2.4
Flask-Cors==3.0.10
flatbuffers==24.3.25
gast==0.5.4
gevent==22.10.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.64.0
gunicorn==22.0.0
h5py==3.11.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.3.3
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
mysqlclient==2.2.4
namex==0.0.8
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
paho-mqtt==2.1.0
pillow==10.3.0
protobuf==4.25.3
psycopg2==2.9.9
pycparser==2.22
Pygments==2.18.0
razorpay==1.4.2
requests==2.32.2
rich==13.7.1
setuptools==70.0.0
six==1.16.0
sqlparse==0.4.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-hub==0.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
tf_keras==2.16.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
whitenoise==6.6.0
wrapt==1.16.0
zope.event==5.0
zope.interface==6.4.post2
