adafruit-io==2.7.2
asgiref==3.7.1
click==8.1.7
dj-database-url==2.1.0
Django==3.2.24
django-cors-headers==4.0.0
django-filter==23.2
Flask==2.2.4
Flask-Cors==3.0.10
flatbuffers==24.3.25
h5py==3.8.0
mysqlclient==2.1.1
packaging==24.0
paho-mqtt==2.1.0
pillow==9.5.0
psycopg2==2.9.9
pycparser==2.21
Pygments==2.17.2
requests==2.31.0
setuptools==68.0.0
sqlparse==0.4.4
typing_extensions== 4.7.1
tzdata==2024.1
